{%extends 'base.html' %}

{%block content%}

<div class = "row">
  {%for post in final_postings%}
    <div class="col s4">
      <div class="card small">
        <div class="card-image">
          <img src="{{post.3}}">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p> {{post.0}}</p>
        </div>
        <div class="card-action">
          <a href="{{post.1}}">View listing: price = {{post.2}}</a>
        </div>
    </div>
    </div>
  
  {%endfor%}
</div>
{%endblock content%}
